body{
    margin:0;
    height:100vh;
    background:pink;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-family:Arial;
}

.bg-video{
  position:fixed;
  top:0;
  left:0;
  width:90%;
  height:90%;
  object-fit:cover;
  z-index:-1;
}

.title{
  position:relative;
  z-index:2;
  color: #ff69b4;   /* нежный розовый */
  font-size:40px;
  text-align:center;
  margin-top:40vh;
}


/* сердечки */
.heart{
    position:fixed;
    top:-20px;
    color:red;
    font-size:20px;
    animation:fall linear forwards;
}

@keyframes fall{
    to{
        transform:translateY(110vh);
        opacity:0;
    }
}




