body{
  margin:0;
  background:pink;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  font-family:Arial;
}

/* текст сверху */
.title{
  color:#ff4da6;
  font-size:42px;
  margin-bottom:20px;
  text-align:center;
  z-index:2;
}

/* контейнер видео */
.video-box{
  width:320px;
  max-width:90%;
}

/* само видео */
.video-box video{
  width:100%;
  border-radius:20px;
}


/* сердечки */
.heart{
    position:fixed;
    top:-20px;
    color:red;
    font-size:20px;
    animation:fall linear forwards;
}

@keyframes fall{
    to{
        transform:translateY(110vh);
        opacity:0;
    }
}





