body{
    margin:0;
    height:100vh;
    background:pink;
    overflow:hidden;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    font-family:Arial;
}

.title{
    color:white;
    font-size:40px;
    margin-bottom:20px;
}


/* сердечки */
.heart{
    position:fixed;
    top:-20px;
    color:red;
    font-size:20px;
    animation:fall linear forwards;
}

@keyframes fall{
    to{
        transform:translateY(110vh);
        opacity:0;
    }
}

